*{
    /* Displaying & Box Model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    /* Displaying & Box Model */
    display: flex;
    height: 100%;
}

.container{
    /* Displaying & Box Model */
    gap: 10px;
    width: 100%;
    height: 100%;
}

button:hover{
    /* Color */
    color: brown;

    /* Transitions & Animations */
    transform: scale(1.05);
}

/*
* INITIAL SCREEN
*/

.initial_screen{
    /* Displaying & Box Model */
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)), 
    url("/Textures/pirate_background.jpg");
    background-size: cover;
}

.initial_screen h1{
    /* Displaying & Box Model */
    margin: 50px 0 70px 0;
}

.initial_screen input {
    /* Displaying & Box Model */
    width: 200px;
    height: 40px;
    margin: 10px;
}

.initial_screen #usernameInput{
    /* Displaying & Box Model */
    margin: 50px;
}

.initial_screen button{
    /* Displaying & Box Model */
    width: 100px;
    height: 50px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 5%;

    /* Color */
    background-color: aliceblue;
}

/*
* RESTROOM SCREEN
*/

.restroom_screen{
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    grid-template-rows: 50px 2fr 1fr 1fr 10px;
    grid-template-columns: 5px 5fr 2fr 5px;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)), 
    url("/Textures/pirate_background.jpg");
    background-size: cover;
}

.restroom_screen h3{
    /* Displaying & Box Model */
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: flex-start;
    left: 10px;
}

.player_list{
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 2;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.update{
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 2 / 4;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.update h5{
    /* Displaying & Box Model */
    margin: 30px 0 30px 0;
}

.update .color_options{
    /* Displaying & Box Model */
    margin: 50px 0 0 60px;
}

.color_options .option{
    /* Positioning */
    position: relative;

    /* Displaying & Box Model */
    width: 40px;
    height: 40px;
    border-radius: 50%;

    /* Color */
    background-color: black;

    /* Transitions & Animations */
    cursor: pointer;
}

#row1 .option:nth-child(1){
    background-color: darkgray;
}

#row1 .option:nth-child(2){
    background-color: aliceblue;
}

#row1 .option:nth-child(3){
    background-color: burlywood;
}

#row1 .option:nth-child(4){
    background-color: gold;
}

#row2 .option:nth-child(1){
    background-color: chocolate;
}

#row2 .option:nth-child(2){
    background-color: mediumblue;
}

#row2 .option:nth-child(3){
    background-color: forestgreen;
}

#row2 .option:nth-child(4){
    background-color: darkgoldenrod;
}

#row3 .option:nth-child(1){
    background-color: mediumseagreen;
}

#row3 .option:nth-child(2){
    background-color: mediumturquoise;
}

#row3 .option:nth-child(3){
    background-color: darkmagenta;
}

#row3 .option:nth-child(4){
    background-color: fuchsia;
}

#row4 .option:nth-child(1){
    background-color: crimson;
}

#row4 .option:nth-child(2){
    background-color: tomato;
}

#row4 .option:nth-child(3){
    background-color: darkorange;
}

#row4 .option:nth-child(4){
    background-color: darkslategray;
}

.color_options .option:is(:hover, .selected)::before{
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid;
    content: "";

    /* Colors */
    border-color: aliceblue;

    /* Transitions & Animations */
    transform: translate(-50%, -50%);
    filter: brightness(100%) contrast(90%);
}


.customize{
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 3 / 5;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.customize div{
    /* Displaying & Box Model */
    display: flex;
    margin: 30px 0 0 30px;

    /* Text */
    font-size: 16px;
}

.customize label{
    /* Displaying & Box Model */
    width: 420px;
    text-align: left;
}

.customize input{
    /* Displaying & Box Model */
    width: 250px;
    margin: 0 10px 0 0;
}

.customize span{
    /* Text */
    font-weight: bold;
}

.restroom_screen .button{
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 4;
}

#leaveRoomBtn{
    /* Displaying & Box Model */
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: indianred;
}

#startGameBtn{
    /* Displaying & Box Model */
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: lightgreen;
}

/*
* GAME SCREEN
*/

.game_screen{
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    grid-template-rows: 50px 50px 3fr 2fr;
    grid-template-columns: 5px 2fr 5fr 5px;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)), 
    url("/Textures/pirate_background.jpg");
    background-size: cover;
}

#role{
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-start;
    margin: 10px;
}

#time{
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    margin: 10px;
}

.game_screen .button{
    /* Displaying & Box Model */
    grid-column: 2 / 4;
    grid-row: 2;
    justify-self: flex-start;
}

#activateBtn{
    /* Displaying & Box Model */
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: indianred;
}

#voteBtn{
    /* Displaying & Box Model */
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: lightgreen;
}

.game_screen .chat{
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 3 / 5;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.chat input {
    /* Positioning */
    position: absolute;
    
    /* Displaying & Box Model */
    display: flex;
    justify-self: center;
    width: 280px;
    height: 30px;
    left: 25px;
    bottom: 15px;
}

.treasure{
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 3;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.treasure .chests{
    /* Displaying & Box Model */
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 80px 0 0 0;
}

.chests .chest_list{
    /* Displaying & Box Model */
    display: flex;
    justify-content: space-around;
    list-style: none;

    /* Transitions & Animations */
    cursor: pointer;
}

.chest_list .option{
    /* Displaying & Box Model */
    width: 20%;
    border-radius: 3px;

    /* Color */
    background-image: url("/Textures/closed_chest.svg");
    background-size: cover;
    color: aliceblue;

    /* Text */
    font-weight: bold;
}

.chests .option:is(:hover, .selected){
    /* Color */
    color: aqua;

    /* Transitions & Animations */
    filter: brightness(120%) contrast(90%);
}

.treasure img{
    /* Displaying & Box Model */
    width: 150px;
    height: 120px;
}

.treasure p{
    /* Text */
    font-weight: bold;
}

.leaderboard{
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 4;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

/*
* ROLE SCREEN
*/

.role_screen{
    /* Position */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    
    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.role_screen p{
    /* Displaying & Box Model */
    margin: 40px;
}

.role_screen #role_mes{
    /* Text */
    font-size: 35px;
    font-weight: bold;
}

.role_screen .character{
    /* Displaying & Box Model */
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/*
* ACTIVATE SCREEN
*/

.activate_screen{
    /* Position */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    
    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

/*
* VOTE SCREEN
*/

.vote_screen{
    /* Position */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    
    /* Color */
    background-image: url("/Textures/treasure-scroll.jpg");
    background-size: cover;
}

.vote_screen .player_list{
    /* Displaying & Box Model */
    width: 790px;
    height: 400px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background: rgba(240, 248, 255, 0.4);
}

#skipVoteBtn{
    /* Displaying & Box Model */
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: lightgreen;
}

/* Positioning */
/* Displaying & Box Model */
/* Color */
/* Text */
/* Transitions & Animations */
