@font-face {
    font-family: "Brubeck AH";
    src: url(/Textures/Font-SVG/brubeck.ttf);
}

@font-face {
    font-family: "Carribean Caps";
    src: url(/Textures/Font-SVG/caric.ttf);
}

@font-face {
    font-family: "Rapscallion";
    src: url(/Textures/Font-SVG/rapscall.ttf);
}

* {
    /* Displaying & Box Model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Text */
    font-family: "Segoe UI";
}

body {
    /* Displaying & Box Model */
    display: flex;
    height: 100%;
}

.container {
    /* Displaying & Box Model */
    gap: 10px;
    width: 100%;
    height: 100%;
}

button {
    /* Text */
    font-weight: 600;

    /* Color */
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(62, 175, 184, 0.4)),
        url("/Textures/closed_chest.svg");
    background-size: cover;
}

button:disabled {
    /* Transitions & Animations */
    cursor: default;
    filter: brightness(70%);
}

button:hover {
    /* Color */
    color: brown;

    /* Transitions & Animations */
    transform: scale(1.05);
}

/*
* INITIAL SCREEN
*/

.initial_screen {
    /* Displaying & Box Model */
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)),
        url("/Textures/Background/pirate_background.jpg");
    background-size: cover;
}

.initial_screen h1 {
    /* Displaying & Box Model */
    margin: 50px 0 70px 0;

    /* Text */
    font-family: "Carribean Caps";
}

.ssi_bar.on_screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.ssi_list {
    position: fixed;
    display: flex;
    right: 20px;
    top: 5px;
    z-index: 10;
}

.ssi_btn {
    width: 35px;
    height: 35px;
    margin: 7px;
    border-radius: 10px;
    background-size: cover;
}

.ssi_btn:hover {
    transform: scale(1.05);
}

.note_bubble {
    display: none;
    position: absolute;

    width: 100px;
    top: 40px;
    right: 0px;
    padding: 20% 18% 5% 8%;
    background-image: url("/Textures/Bubble_note.png");
    background-size: 100% 100%;
    text-anchor: middle;
    text-align: center;
    float: left;
    box-sizing: border-box;
}

.ssi_list #storyBtn {
    background-image: url("/Textures/StoryBt.png");
}

.ssi_list .ssi_btn:hover > .note_bubble {
    display: block;
}

.ssi_list #settingBtn {
    background-image: url("/Textures/MusicBt.png");
}

.ssi_list #infoBtn {
    background-image: url("/Textures/InfoBt.png");
}

.ssi_bar .ssi_screen {
    /* Position */
    position: fixed;
    z-index: 10;

    /* Displaying & Box Model */
    display: none;
    width: 900px;
    height: 520px;
    text-align: left;
    padding-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

#storyScreen .text {
    width: 800px;
    height: 520px;
    flex-direction: column;
    align-content: center;
}

#storyScreen .text:nth-child(1) {
    display: block;
}

#storyScreen .text:nth-child(2) {
    display: none;
}

#storyScreen .text:nth-child(3) {
    display: none;
}

#storyScreen .text:nth-child(4) {
    display: none;
}

#storyScreen .navigate {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    width: 100px;
    height: 520px;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.navigate .up {
    background-image: url("/Textures/Navigate/Up.png");
    width: 75px;
    height: 60px;
    margin: 5px;
    background-size: 100% 100%;
    cursor: pointer;
}

.navigate .page-mark {
    background-image: url("Textures/Navigate/Normal.png");
    width: 60px;
    height: 40px;
    margin: 5px;
    background-size: 100% 100%;
    cursor: pointer;
}

.navigate .page-mark:hover {
    background-image: url("Textures/Navigate/Active.png");
}

.navigate .page-mark:nth-child(2) {
    background-image: url("Textures/Navigate/Active.png");
}

.navigate .down {
    background-image: url("Textures/Navigate/Down.png");
    width: 75px;
    height: 60px;
    margin: 5px;
    background-size: 100% 100%;
    cursor: pointer;
}

.navigate .up:hover {
    transform: scale(1.05);
}

.navigate .down:hover {
    transform: scale(1.05);
}

#storyScreen p {
    /* Text */
    margin: 15px 55px;
    text-align: justify;
    text-indent: 5%;
}

#storyScreen .page1 p {
    /* Text */
    font-size: 20px;
}

#storyScreen .page2 p {
    /* Text */
    font-size: 16px;
}

#storyScreen .page3 p {
    /* Text */
    font-size: 17px;
}

#storyScreen .page3 img{
    /* Positioning */
    position: relative;

    /* Displaying & Box Model */
    width: 25px;
    height: 25px;
    margin: 2px;
    top: 5px;

    /* Color */
    background-size: cover;
}

#storyScreen .page4 p {
    /* Text */
    font-size: 18px;
}

#storyScreen .page4 li {
    /* Text */
    text-align: justify;
    margin: 5px 120px;
    font-size: 19px;
}

#storyScreen strong {
    /* Text */
    margin: 20px;
    font-size: 22px;
}

.initial_screen input {
    /* Displaying & Box Model */
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 0px 5px;
}

.initial_screen #usernameInput {
    /* Displaying & Box Model */
    margin: 50px;
}

.initial_screen button {
    /* Displaying & Box Model */
    width: 100px;
    height: 50px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 5%;
}

#settingScreen .setting_list {
    position: absolute;

    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.5);
}

#settingScreen .setting_list div {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 15px;
}

#settingScreen .setting_list div:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px groove;
    border-style: double;
}

#settingScreen .setting_list .choosen {
    background-color: rgba(0, 0, 0, 0.2);
    border: 5px groove;
    border-style: double;
    pointer-events: none;
}

#settingScreen .setting_content {
    position: absolute;

    display: none;
    width: 650px;
    height: 100%;
    top: 0;
    right: 0;
    align-items: center;
    padding: 20px;
}

.setting_object {
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin: 10px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.setting_object label {
    width: 175px;
    padding-left: 40px;
}

.setting_object input {
    width: 300px;
}

.setting_object span {
    width: 15px;
    margin: 0px 15px;
}

.setting_object div {
    width: 50px;
    height: 40px;
    background-size: cover;
}

.setting_object div:hover {
    transform: scale(1.05);
}

/*
* RESTROOM SCREEN
*/

.restroom_screen {
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    grid-template-rows: 50px 4fr 3fr 1fr 10px;
    grid-template-columns: 5px 7fr 3fr 5px;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)), 
        url("/Textures/Background/pirate_background.jpg");
    background-size: cover;

    /* Text */
    font-size: 18px;
}

.restroom_screen h3 {
    /* Displaying & Box Model */
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: flex-start;
    left: 10px;
}

.restroom_screen h4 {
    /* Displaying & Box Model */
    margin: 10px auto;
}

.player_list {
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 2;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.player_list #show_player_list {
    /* Displaying & Box Model */
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
}

.player_list #show_player_list .box {
    /* Position */
    position: relative;

    /* Displaying & Box Model */
    display: flex;
    width: calc(33.2% - 10px);
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: rgba(255, 250, 240, 0.5);
}

#show_player_list .box .color {
    /* Position */
    position: absolute;

    /* Displaying & Box Model */
    width: 72px;
    height: 42px;
    margin: 10px;
    right: 70%;

    /* Color */
    /* background: url(/Textures/pirate_hat.svg);
    background-size: cover; */
}

#show_player_list .box p {
    /* Displaying & Box Model */
    text-align: center;
    margin-left: 50px;
}

#show_player_list .box.current p {
    /* Text */
    font-weight: 650;
}

.update {
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 2 / 4;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.update .color_options {
    /* Displaying & Box Model */
    margin: 0 auto;
}

.color_options .option {
    /* Positioning */
    position: relative;

    /* Displaying & Box Model */
    width: 40px;
    height: 40px;
    border-radius: 50%;

    /* Color */
    background-color: black;

    /* Transitions & Animations */
    cursor: pointer;
}

#row1 .option:nth-child(1) {
    background-color: darkgray;
}

#row1 .option:nth-child(2) {
    background-color: aliceblue;
}

#row1 .option:nth-child(3) {
    background-color: burlywood;
}

#row1 .option:nth-child(4) {
    background-color: rgb(250, 222, 64);
}

#row2 .option:nth-child(1) {
    background-color: rgb(194, 109, 48);
}

#row2 .option:nth-child(2) {
    background-color: rgb(43, 97, 199);
}

#row2 .option:nth-child(3) {
    background-color: rgb(64, 158, 64);
}

#row2 .option:nth-child(4) {
    background-color: rgb(49, 159, 173);
}

#row3 .option:nth-child(1) {
    background-color: mediumseagreen;
}

#row3 .option:nth-child(2) {
    background-color: mediumturquoise;
}

#row3 .option:nth-child(3) {
    background-color: rgb(155, 39, 155);
}

#row3 .option:nth-child(4) {
    background-color: rgb(238, 108, 238);
}

#row4 .option:nth-child(1) {
    background-color: rgb(240, 52, 90);
}

#row4 .option:nth-child(2) {
    background-color: tomato;
}

#row4 .option:nth-child(3) {
    background-color: darkorange;
}

#row4 .option:nth-child(4) {
    background-color: darkslategray;
}

.color_options .option:is(:hover, .selected)::before {
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid;
    content: "";

    /* Colors */
    border-color: aliceblue;

    /* Transitions & Animations */
    transform: translate(-50%, -50%);
    filter: brightness(100%) contrast(90%);
}

.color_options .option.chosen {
    /* Transitions & Animations */
    cursor: default;
    pointer-events: none;
}

.color_options .option.chosen::before {
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    background: inherit;
    border-radius: inherit;
    content: "";

    /* Colors */
    background: rgba(0, 0, 0, 0.7);

    /* Transitions & Animations */
    transform: translate(-50%, -50%);
}

.restroom_screen .character {
    /* Displaying & Box Model */
    width: 140px;
    height: 180px;
    margin: 20px auto;
}

.customize {
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 3 / 5;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.customize div {
    /* Displaying & Box Model */
    display: flex;
    margin: 30px 0 0 50px;
}

.customize label {
    /* Displaying & Box Model */
    width: 420px;
    text-align: left;
}

.customize input {
    /* Displaying & Box Model */
    width: 250px;
    margin: 0 10px 0 0;
}

.customize span {
    /* Text */
    font-weight: bold;
}

.restroom_screen .button {
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 4;
}

#leaveRoomBtn {
    /* Displaying & Box Model */
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

#startGameBtn {
    /* Displaying & Box Model */
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

/*
* GAME SCREEN
*/

.game_screen {
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    grid-template-rows: 35px 40px 1fr;
    grid-template-columns: 2fr 1fr 3fr;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)), 
        url("/Textures/Background/pirate_background.jpg");
    background-size: cover;
}

.game_screen #role {
    /* Displaying & Box Model */
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin: 5px;
}

.game_screen #day {
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
    margin: 5px;
    
    /* Text */
    font-size: 20px;
}

.game_screen #time {
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    margin: 5px;
}

.game_screen .activateRole {
    /* Displaying & Box Model */
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: flex-start;
}

.activateRole button{
    /* Displaying & Box Model */
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.activateRole #familiarityBar {
    /* Displaying & Box Model */
    display: flex;
    margin: 10px;
}

#familiarityBar .title {
    /* Text */
    font-weight: 600;

    /* Color */
    color: white;
}

#familiarityBar .bar_behind {
    /* Displaying & Box Model */
    height: 14px;
    width: 200px;
    border-radius: 6px;
    margin-top: 7px;
    margin-left: 10px;
    
    /* Color */
    background-color: rgba(0, 0, 0, 0.5);
}

.bar_behind .bar_front {
    /* Displaying & Box Model */
    display: flex;
    height: 14px;
    width: 0;
    border-radius: 6px;
    
    /* Color */
    background-image: linear-gradient(to left, rgb(75, 226, 219), rgb(0, 137, 216));

    /* Transitions & Animations */
    transition: 1s ease 0.3s;
}

.treasure {
    /* Positioning */
    position: relative;

    /* Displaying & Box Model */
    grid-column: 1 / 4;
    grid-row: 3;
    border: none;
    border-radius: 10px;
    margin: 5px 15px;

    /* Color */
    background-image: url("/Textures/Background/treasure_map.png");
    background-size: cover;
}

.treasure .chest {
    /* Postioning */
    position: absolute;

    /* Display */
    width: 43px;
    height: 43px;
    background-size: 100% 100%;
    border-radius: 50%;

    /* Transitions & Animations */
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.chest.c100 {
    background-image: url("/Textures/Font-SVG/diamond_chest.svg");
}
.chest.c75 {
    background-image: url("/Textures/Font-SVG/gold_chest.svg");
}
.chest.c50 {
    background-image: url("/Textures/Font-SVG/silver_chest.svg");
}
.chest.c35 {
    background-image: url("/Textures/Font-SVG/iron_chest.svg");
}

.treasure .chest:hover {
    /* Transitions & Animations */
    transform: scale(1.2) translate(-50%, -50%);
}

.treasure img {
    /* Displaying & Box Model */
    width: 150px;
    height: 120px;
}

.treasure p {
    /* Text */
    font-weight: bold;
}

/*
* CAVE SCREEN
*/

.cave {
    /* Displaying & Box Model */
    display: none;
    grid-column: 1 / 4;
    grid-row: 3;
    border: none;
    border-radius: 10px;
    margin: 5px 15px;

    /* Color */
    background-image: url("/Textures/Background/cave_background.jpg");
    background-size: cover;
}

.cave .character {
    /* Displaying & Box Model */
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    height: 220px;
}

.cave .character .sprite {
    /* Displaying & Box Model */
    width: 140px;
    height: 180px;
    margin: 20px;
}

/*
* ROLE SCREEN
*/

.role_screen {
    /* Displaying & Box Model */
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.role_screen p {
    /* Displaying & Box Model */
    margin: 15px 50px;
    font-size: 25px;
}

.role_screen #role_mes {
    /* Text */
    font-size: 40px;
    font-weight: bold;
}

.role_screen .character {
    /* Displaying & Box Model */
    display: flex;
    justify-content: center;
}

.role_screen .character .sprite {
    /* Displaying & Box Model */
    width: 140px;
    height: 180px;
    margin: 20px auto;
}

/*
* ACTIVATE SCREEN
*/

.activate_screen {
    /* Position */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

/*
* VOTE SCREEN
*/

.vote_screen {
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    grid-template-rows: 80px 3fr 2fr;
    grid-template-columns: 5px 4fr 3fr 7fr 5px;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;

    /* Color */
    background-image: linear-gradient(rgba(132, 174, 173, 0.2), rgba(128, 135, 123, 0.6)), 
        url("/Textures/Background/pirate_background.jpg");
    background-size: cover;
}

.vote_screen #role {
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin: 10px;
}

.vote_screen #day {
    /* Displaying & Box Model */
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
    margin: 10px;
    
    /* Text */
    font-size: 20px;
}

.vote_screen #time {
    /* Displaying & Box Model */
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
    margin: 10px;
}

.vote_screen .chat {
    /* Displaying & Box Model */
    grid-column: 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.chat .content_show{
    overflow-y: scroll;
    margin: 10px;
    height: 75vh;
}

.chat input {
    /* Displaying & Box Model */
    width: 280px;
    height: 30px;
    margin: auto;
    padding: 0px 5px;
}

.content_show .chat_line {
    text-align: left;
    font-size: 15px;
}

.vote_screen .player_list {
    /* Displaying & Box Model */
    grid-column: 3 / 5;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.player_list #show_vote_list {
    /* Displaying & Box Model */
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
}

.player_list #show_vote_list .box {
    /* Position */
    position: relative;

    /* Displaying & Box Model */
    display: flex;
    width: calc(33.2% - 10px);
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: rgba(255, 250, 240, 0.5);
}

#show_vote_list .box.current{
    /* Transitions & Animations */
    cursor: default;
    pointer-events: none;
}

#show_vote_list .box.dead{
    /* Color */
    background-color: rgba(209, 136, 136, 0.6);

    /* Transitions & Animations */
    cursor: default;
    pointer-events: none;
}

#show_vote_list .box:is(:hover, .selected) {
    /* Displaying & Box Model */
    border: 1px solid black;
}

#show_vote_list .box .vote{
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: none;
    top: 50%;
    left: 85%;
    width: 50px;
    height: 25px;
    border-radius: 5px;

    /* Colors */
    background-color: lightgreen;

    /* Transitions & Animations */
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#show_vote_list .box.selected .vote {
    /* Displaying & Box Model */
    display: block;
}

#show_vote_list .box .color {
    /* Position */
    position: absolute;

    /* Displaying & Box Model */
    width: 72px;
    height: 42px;
    margin: 10px;
    right: 70%;

    /* Color */
    /* background: url(/Textures/pirate_hat.svg);
    background-size: cover; */
}

#show_vote_list .box p {
    /* Displaying & Box Model */
    text-align: center;
    margin-left: 50px;
}

#show_vote_list .box.current p {
    /* Text */
    font-weight: 650;
}

#show_vote_list .box .votedCircles {
    /* Positioning */
    position: absolute;

    /* Displaying & Box Model */
    display: flex;
    left: 30%;
    bottom: 0%;
}

#show_vote_list .votedCircles .circle{
    /* Displaying & Box Model */
    width: 15px;
    height: 15px;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid;

    /* Color */
    border-color: black;
}

.player_list .btn {
    /* Displaying & Box Model */
    display: flex;
    margin-top: auto;
    justify-content: center;
}

#skipVoteBtn {
    /* Displaying & Box Model */
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-color: lightgreen;

    /* Transitions & Animations */
    cursor: pointer;
}

.leaderboard {
    /* Displaying & Box Model */
    grid-column: 3 / 5;
    grid-row: 3;
    border: none;
    border-radius: 10px;
    margin: 5px;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;
}

.leaderboard #show_leaderboard{
    /* Displaying & Box Model */
    display: flex;
    flex-wrap: nowrap;
    margin: 5px 20px;
}

.leaderboard .scroll_board{
    overflow-x: scroll;
    margin: 0px 5px;
    width: 70vw;
}

#show_leaderboard .poster {
    /* Displaying & Box Model */
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 120px;
    height: 160px;
    border-radius: 3px;
    margin: 5px;

    /* Text */
    font-weight: 550;

    /* Color */
    background-image: url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;

    /* Transitions & Animations */
    filter: brightness(110%);
}

#show_leaderboard .poster.current {
    /* Color */
    color: brown;

    /* Transitions & Animations */
    filter: brightness(120%);
}

#show_leaderboard .poster.dead {
    /* Color */
    background-image: linear-gradient(rgba(241, 146, 146, 0.4), rgba(238, 155, 155, 0.4)), url("/Textures/Background/treasure-scroll.jpg");
    background-size: cover;

    /* Transitions & Animations */
    filter: brightness(100%) hue-rotate(0deg);
}

#show_leaderboard .poster span {
    /* Displaying & Box Model */
    margin: 5px 0;
    margin-top: auto;
}

#show_leaderboard .poster .color {
    /* Displaying & Box Model */
    width: 72px;
    height: 42px;
    margin: 8px auto;
}

/* Positioning */
/* Displaying & Box Model */
/* Color */
/* Text */
/* Transitions & Animations */